
<h1>Overview</h1>

<div class="row">
	<div class="col-sm-4">
		<table class="table">
			<tr>
				<th>Position</th>
				<td>{{ scores.curr.rank }} / {{ scores.worst.rank }}</th>
			</tr>
			<tr>
				<th>Uptime</th>
				<td>{{ scores.curr.uptime | duration }}</th>
			</tr>
			<tr><td colspan="2"></td></tr>

			<tr ng-if="scores.curr.position > 1">
				<th>1st in</th>
				<td>{{ scores.best.uptime - scores.curr.uptime | duration }}</th>
			</tr>
			<tr ng-if="scores.curr.position > 1">
				<th>Level up in</th>
				<td>{{ scores.next.uptime - scores.curr.uptime | duration }}</th>
			</tr>
			<tr>
				<th>Average in</th>
				<td>{{ stats.avg - scores.curr.uptime | duration }}</th>
			</tr>
			<tr><td colspan="2"></td></tr>

			<tr>
				<th>Average Uptime</th>
				<td>{{ stats.avg | duration  }}</th>
			</tr>
			<tr>
				<th>Trending Uptime</th>
				<td>{{ stats.trend | duration  }}</th>
			</tr>
			<tr>
				<th>Trend</th>
				<td ng-class="{'text-danger': stats.avg > stats.trend,
					'text-success': stats.avg < stats.trend}">
					{{ ( 1 - ( stats.avg / stats.trend ) ) * 100 | number:2 }}%
				</th>
			</tr>
			<tr>
				<th>Average Uptime Per Week</th>
				<td>{{ 5 * stats.avg | duration  }}</th>
			</tr>
			<tr>
				<th>Total Uptime</th>
				<td>{{ stats.total | duration  }}</th>
			</tr>
			<tr><td colspan="2"></td></tr>

		</table>
	</div>
	<div class="col-sm-8">
		<pre>{{ scores | json }}</pre>
	</div>
</div>
