
<h1>Overview</h1>

<div class="row">
	<div class="col-sm-4">
		<table class="table">
			<tr>
				<th>Position</th>
				<td></td>
				<td>{{ scores.curr.rank }} / {{ scores.worst.rank }}</th>
			</tr>
			<tr>
				<th>Uptime</th>
				<td></td>
				<td>{{ scores.curr.uptime | duration }}</th>
			</tr>
			<tr><td colspan="3"></td></tr>

			<tr ng-if="scores.curr.rank > 1">
				<th>1st</th>
				<td>in {{ scores.best.uptime - scores.curr.uptime | duration }}</th>
				<td>at {{ (scores.best.uptime + scores.curr.since) * 1000 | date:"mediumTime" }}</td>
			</tr>
			<tr ng-if="scores.curr.rank > 2">
				<th>1up</th>
				<td>in {{ scores.next.uptime - scores.curr.uptime | duration }}</th>
				<td>at {{ (scores.next.uptime + scores.curr.since) * 1000 | date:"mediumTime" }}</td>
			</tr>
			<tr ng-if="stats.average > scores.curr.uptime">
				<th>Average</th>
				<td>in {{ stats.average - scores.curr.uptime | duration }}</th>
				<td>at {{ (stats.average + scores.curr.since) * 1000 | date:"mediumTime" }}</td>
			</tr>
			<tr ng-if="stats.trend > scores.curr.uptime">
				<th>Trending</th>
				<td>in {{ stats.trend - scores.curr.uptime | duration }}</th>
				<td>at {{ (stats.trend + scores.curr.since) * 1000 | date:"mediumTime" }}</td>
			</tr>
			<tr><td colspan="3"></td></tr>

			<tr>
				<th colspan="2">Average Uptime</th>
				<td>{{ stats.average | duration  }}</th>
			</tr>
			<tr>
				<th colspan="2">Trending Uptime</th>
				<td>{{ stats.trend | duration  }}</th>
			</tr>
			<tr>
				<th colspan="2">Trend</th>
				<td ng-class="{'text-danger': stats.average > stats.trend,
					'text-success': stats.average < stats.trend}">
					{{ ( 1 - ( stats.average / stats.trend ) ) * 100 | number:2 }}%
				</th>
			</tr>
			<tr>
				<th colspan="2">Average Uptime Per Week</th>
				<td>{{ 5 * stats.average | duration  }}</th>
			</tr>
			<tr>
				<th colspan="2">Total Uptime</th>
				<td>{{ stats.total | duration  }}</th>
			</tr>
			<tr><td colspan="3"></td></tr>

		</table>
	</div>
	<div class="col-sm-8">
		<pre>{{ scores | json }}</pre>
	</div>
</div>
